* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  position: relative;
}

.container {
  margin: 0 auto;
  padding: 0 19px;
  max-width: 1200px;
}

.grid-container {
  display: grid;
  height: 50rem;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.3rem;
  margin-top: 1.3rem;
}

.home-container {
  padding-top: 12rem;
}

@media (max-width:750px) {
  .grid-container {
      height: 500px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 13px;
      gap: 13px;
  }
}

@media (max-width:500px) {
  .grid-container {
      height: 500px;
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 13px;
      gap: 13px;
  }
}



